In [1]:
import pandas as pd

from cca import cca_sample

In [2]:
df = pd.read_csv("stiffness.dat", delim_whitespace=True, header=None, dtype="float64")
X, Y = df.iloc[:, :2], df.iloc[:, 2:4]

In [3]:
info, combinations = cca_sample(X, Y)

In [4]:
info

{'rho': array([0.91291935, 0.06805556]),
 'a': array([[-0.00360156,  0.00666322],
        [ 0.00059574, -0.00770295]]),
 'b': array([[-0.0013448 , -0.00847103],
        [-0.00189339,  0.00782896]]),
 'E': array([-5.82267868, -0.77581356, -5.2955265 ,  0.72077701]),
 'Var': array([[1.        , 0.        , 0.91291935, 0.        ],
        [0.        , 1.        , 0.        , 0.06805556],
        [0.91291935, 0.        , 1.        , 0.        ],
        [0.        , 0.06805556, 0.        , 1.        ]])}

In [5]:
U, V = combinations.values()

In [6]:
U.head()

          0         1
0 -5.819792 -0.130757
1 -7.434488  0.236064
2 -6.618960  1.024338
3 -4.955308 -1.571711
4 -5.975258 -1.592339

In [7]:
V.head()

          0         1
0 -5.465690  0.696609
1 -6.966388 -0.478821
2 -6.647936  2.021025
3 -4.395302  2.598950
4 -5.735771  1.069685